.ngx-toastr {
  width: 350px !important;
  display: flex;
  gap: 10px;
}
a {
  text-decoration: none;
}
.tab-panel {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

.nav-tabs > li.open,
.member-tabset > .nav-tabs > li:hover {
  border-bottom: 4px solid #afd8cc;
}

.member-tabset > .nav-tabs > li.open > a,
.member-tabset > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}

.member-tabset > .nav-tabs > li.open > a > i,
.member-tabset > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}

.member-tabset > .nav-tabs > li.open .dropdown-menu,
.member-tabset > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

.member-tabset > .nav-tabs > li.active {
  border-bottom: 4px solid #78c3ad;
  position: relative;
}

.member-tabset > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333;
}

.member-tabset > .nav-tabs > li.active > a > i {
  color: #404040;
}

.member-tabset > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}

.bs-datepicker-body table td.week span {
  color: #78c3ad !important;
}

.bs-datepicker-body table td span.selected,
.bs-datepicker-head,
.bs-datepicker-head,
.bs-datepicker button:active,
.bs-datepicker-body table td.selected span,
.bs-datepicker-body table td span[class*="select-"]:after,
.bs-datepicker-body table td[class*="select-"] span:after,
.bs-datepicker-body table td.active-week span:hover {
  background-color: #78c3ad !important;
}
.page-link {
  position: relative;
  display: block;
  padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
  font-size: var(--bs-pagination-font-size);
  color: #78c3ad;
  --bs-pagination-disabled-color: #609b8a;
  --bs-pagination-active-bg: #f3969a;
  --bs-pagination-active-border-color: #f3969a;
  --bs-pagination-hover-bg: #f3969a;
  --bs-pagination-hover-border-color: #f3969a;
  --bs-pagination-disabled-bg: white;
  --bs-pagination-disabled-border-color: #c3f2e4;
  text-decoration: none;
  background-color: white;
  border: 1px solid #c3f2e4;
  transition:
    color 0.15sease-in-out,
    background-color 0.15sease-in-out,
    border-color 0.15sease-in-out,
    box-shadow 0.15sease-in-out;
}
