.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 50%;
}
.question , .answer{
  margin-top: .5rem;
}
.add-question {
  gap: 1rem;
  display: flex;
}
button {
  border: none;
}
.remove{
  cursor: pointer;
  margin-left: 1rem;
}

