<form [formGroup]="form" (ngSubmit)="submit()">
  <h3>Quiz form</h3>
  <div class="form-field" formArrayName="questions">
    @for ( question of questions.controls; track questionIndex; let questionIndex = $index ) {
      <hr>
      <div class="question" [formGroupName]="questionIndex">
        <input
          type="text"
          formControlName="questionName"
          placeholder="write your question"
        />
        <span (click)="removeQuestion(questionIndex)" class="remove">x</span>
        <div formArrayName="answers" class="answers">
          <div class="mt-4">Answers</div>
          @for (question of questions.controls.at(questionIndex)?.controls?.answers?.controls; track answerIndex; let answerIndex = $index) {
            <div [formGroupName]="answerIndex" class="answer">
              <input
                type="text"
                formControlName="text"
                placeholder="write your answer"
              />
              <span (click)="removeAnswer(answerIndex)" class="remove">x</span>
            </div>
          }
          <button type="button" (click)="addAnswer(questionIndex)" class="mt-2">
            add answer +
          </button>
        </div>
      </div>
    }
  </div>
  <div class="add-question">
    <button type="button" (click)="addQuestion()">Add question</button>
    <button type="submit">Submit</button>
  </div>
</form>