.img-thumbail {
  margin: 25px;
  width: 85%;
  height: 85%;
}
.card-body {
  padding: 0 25px;
}
.cord-footer {
  padding: 10px 15px;
  background-color: #fff;
  border-top: none;
}

.btn {
  width: 30%;
}
.title {
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .col-4 {
    width: 100%;
  }
  .col-8 {
    width: 100%;
  }
}
